body {
  font-family: "Raleway", sans-serif;
}

/* logo */

.nombre {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 10px;
  color: antiquewhite;
}

/* Hero Section */

#Hero-Section {

  background:
  linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ),
  url("../img/foto-header.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Hero-Section h1 {
  color: rgb(255, 255, 255);
}
.container h1 span {
  color: red;
}

/* acerca de mi */

.acerca_de_mi h3 {
  color: red;
}
.img-mi {
  width: 100%;
}
/* Mis trabajos */

.card {
  border: none;
}
.image-top {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.card-body {
  border: 1px solid rgba(0,0,0,.125);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #3c3737;
}
#Contacto h2 {
  color: red;
}
footer p {
  color: #3c3737;
}
nav a {
  text-transform: uppercase;
  font-size: 16px;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
